body {
  padding: 0px;
  margin: 0px;
}

#map_raw,
body,
html {
  height: 600px;
  z-index: 0;
  padding: 0px;

}

#map_res,
body,
html {
  height: 600px;
  z-index: 0;
  padding: 0px;

}

div.sticky {
  position: -webkit-sticky;
  position: sticky;

  top: 0;
  padding: 0px;
  background-color: #C8C8C8;
  z-index: 1;
  }

 #my_div,
 {
 	height: 600px;
 	z-index: 0;
 	padding: 0px;
 	vertical-align: top;
 }

  div.my_div2,
 {
 	
 	padding: 0px;
 	
 }